body{
font: 14px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
margin:0;
color:#313131;
}

header{
    width: 90%;
    background-color: #313131;
    overflow: hidden;
}

header p{
    color: #ffffff;
    font-size: 100%;
    letter-spacing: 10px;
    line-height: 300px;
    padding-left: 3%;
}
